<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <connectionStrings>
        <add name="BIS2212-CW3Conn" connectionString="Data Source=MONTESIN-PC\SQLEXPRESS;Initial Catalog=BIS2212-CW3;Persist Security Info=True;User ID=sa;Password=user123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    </system.web>
</configuration>